/* General Styles */
body, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111723;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #044fc8;
  height: 35px;
  padding: 0px 5%;
  color: white;
}

.navbarPages UL {
  background-color: #044fc8;
}

.logo a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.logo a:hover {
  color: yellow;
}

.navbarPages ul {
  list-style: none;
  display: flex;
}

.navbarPages ul li {
  margin: 0 15px;
}

.navbarPages ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbarPages ul li a:hover {
  border-bottom: 1PX solid yellow;
  padding-bottom: 6px;
  color: yellow;
}

/* Language Dropdown */
.language {
  position: relative;
  cursor: pointer;
}

.mainLang {
  background: #044fc8;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  list-style: none;
}

.langDropdown {
  position: absolute;
  top: 25px;
  left: 0;
  background: #044fc8;
  color: white;
  list-style: none;
  padding: 5px;
  display: none;
  border-radius: 5px;
}

.language:hover .langDropdown {
  display: block;
}

.langDropdown li{
  margin-top: 5px;
  padding: 5px;
}

.langDropdown li:hover {
  color: yellow;
  border-bottom: 1px solid yellow;
}

/* Toggle Button */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbarPages {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: #333;
    display: none;
    margin: 0;
    flex-direction: column;
    text-align: center;
  }

  .navbarPages ul {
    flex-direction: column;
    background-color: rgb(4, 79, 200, 0.8);
  }

  .navbarPages ul li {
    padding: 10px 0;
  }

  .navbarPages.active {
    display: flex;
    top: 35px;
    padding: 0;
  }
}

/* Loading Overlay */
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
